{% extends 'dashboard_layout.html' %}

{% block body %}
	<div class="container">
      <img class="mt-4" src="{{url_for('display_img', filename=image)}}" style="width:100%; max-height:320; max-width:480">
      <h4 class="mt-3">Predictions:</h4>
      <table style="width: 100%">
      	<thead>
      		<tr><th>Label</th><th>Probability</th></tr>
      	</thead>
      	<tbody>
      	{% for result in results.prediction %}
      		<tr><td>{{result.label}}</td><td> {{result.probability}}</td></tr>
      	{% endfor %}
      	</tbody>
  	  </table>
    </div>
{% endblock %}