<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>Cloud-Up</title>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
  </head>
  <body>
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>

  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>