<div class="container mt-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Standar Form -->
          <h4>Now classify an image!</h4>
          <form action="" method="POST" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="file" id="js-upload-files">
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload</button>
            </div>
          </form>
        </div>
      </div>
</div> <!-- /container -->